In [13]:
import pandas as pd
import numpy as np
import tensorflow as tf


SEQUENCE_LENGTH=20
ONLY_ONE_CAR=True
CARS=4
FEATURES=5
DIFF_ROT=True


def batch_generator(df):
    
    #crea un nuovo dataframe con sequence_length elementi per un numero di volte pari al batch
    dropped_df=df.drop(["Player","RACE"],axis=1).reset_index(drop=True)
    for i in range(len(dropped_df)-SEQUENCE_LENGTH):
        inputs=np.array(dropped_df.loc[i:SEQUENCE_LENGTH-1+i,:].values)
        targets=dropped_df.loc[SEQUENCE_LENGTH+i,:].values
        yield inputs,targets
        
    
def single_care_dataframe(path):
    df_gara=pd.read_csv(path, sep=";", header=None , decimal=',')
    #create new column called race
    df_gara["RACE"]=0
    # fill race column based on the cumulative sum of rows starting with '_'
    #idx_gara stores each row wich starts with '_'
    idx_gara=[]
    for i in range(0,24,6):
        idx=(df_gara[df_gara[i].str.startswith("_")].index)
        df_gara.loc[idx,i]=df_gara.loc[idx,i].str.replace("_ ","")
        idx_gara.extend(idx)

    df_gara.loc[idx_gara,"RACE"]=1
    df_gara.RACE=df_gara.RACE.cumsum()
    #Create new column Length wich specifiens the total length of a race
    df_gara["LENGTH"]=df_gara.groupby("RACE")[0].transform("count")
    #if race is lewer then a minimum then it is discarded
    df_races=df_gara.query(f"LENGTH > {SEQUENCE_LENGTH/0.25}").reset_index(drop=True)

    lst_df=[]
    for i in range(0,24,6):
        new_arr=df_races.loc[:,[i,i+1,i+2,i+3,i+4,i+5,"RACE"]].values
        lst_df.extend(new_arr)
    df_gara_stacked=pd.DataFrame(lst_df, columns=["Player","X","Z","VEL_X","VEL_Z","ROT","RACE"])
        
    return df_gara_stacked

def subtraction_columns(df):
    df_copy=df.shift(1,fill_value=0)
    cols = df.columns.difference(['Player','RACE'])
    df[cols] = df[cols].sub(df_copy[cols])
    
    df.iloc[0,1:-1]=0
    return df

def get_split(x,first,second):
    first =int(x.shape[0]*first)
    second = int(x.shape[0]*second)
    
    if DIFF_ROT:
        #df_gara_stacked["ROT1"]= df_gara_stacked.ROT.shift(1,fill_value=0)
        #df_gara_stacked["DIFF_ROT"]=(df_gara_stacked["ROT1"]-df_gara_stacked["ROT"] + 180)%360-180
        x=subtraction_columns(x)
        x["ROT"]=(x["ROT"]+180)%360-180
        #(a + 180) % 360 - 180
    else:
        x.drop("ROT",axis=1,inplace=True)
    
    
    return x[first:second]
    
def split_train_validation_test(df,group_col,train_split=0.5,val_split=0.25,test_split=0.25):
    val_split +=train_split
    
    if val_split >1:
        raise ValueError(
            f"Train + Validation split cannot be higher tan 1 given {val_split}"
        )
     
    #group by race (and player name for single car) and create a new array containing foreach race a dataset
    df_train= df.groupby(group_col,group_keys=False).apply(get_split, first = 0, second= train_split)
    df_val= df.groupby(group_col,group_keys=False).apply(get_split, first = train_split, second= val_split)
    df_test= df.groupby(group_col,group_keys=False).apply(get_split, first = val_split, second= 1)
    
    
    #since each race was plittend into train,val and test the result of previous operation is an array containing the data 
    #foreach race, therefore to have the end dataframe we must concatenate each element
    df_train=recreate_dataframe(df_train)
    df_val=recreate_dataframe(df_val)
    df_test=recreate_dataframe(df_test)
    
    return df_train, df_val,df_test

def recreate_dataframe(series):
    if DIFF_ROT:
        columns=["Player","DIFF_X","DIFF_Z","DIFF_VEL_X","DIFF_VEL_Z","DIFF_ROT","RACE"]
    else:
        columns=["Player","X","Z","VEL_X","VEL_Z","RACE"]  
    series.columns=columns
    df=series.reset_index(drop=True)
    #v#alues=series.values
    #df=pd.DataFrame(values[0],columns=columns)
    #
#
    #for serie in values[1:]:
    #    df= pd.concat([df, pd.DataFrame(serie,columns=columns)],ignore_index=True)
    return df

def Generator(df):
    grouped=df.groupby(["Player","RACE"]).apply(batch_generator)
    for group in grouped:
        for single in group:
            yield single
            
class DataGenerator(tf.keras.utils.Sequence):
    def __init__(self,batch_size,df,max_batch):
        self.batch_size=batch_size
        self.df=df
        self.df_length=len(df.index)-(df["RACE"].nunique()*SEQUENCE_LENGTH*CARS)
        self.max_batch=max_batch            
        print(f'Length: {len(df.index)} races: {df["RACE"].nunique()} n batches: {self.df_length} / {batch_size}')
        self.on_epoch_end()
        #self.generator=generator_function(sequence_length,path,totFiles)
        
    def __getitem__(self,index):
        X=[]
        Y=[]
        for i in range(self.batch_size):
            #while True:
            #    x,y=next(self.generator)
            #    x_shape=np.shape(x)
            #    if x_shape[0]==x_shape[1]:
            #        break
            x,y=next(self.generator)
            X.append(x)
            Y.append(y)
            
        #print(np.shape(X))    
        tensor_x=tf.constant(X)
        tensor_y=tf.constant(Y)
        return tensor_x,tensor_y
    
    def __len__(self):
        value=int(self.df_length/self.batch_size)-1
        if value>self.max_batch:
            value=self.max_batch
        return value
    
    def on_epoch_end(self):
        self.generator=Generator(self.df)

In [14]:
df_gara=single_care_dataframe(r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\physics_ordered.txt")

In [15]:
df_gara.tail()

             Player          X         Z     VEL_X     VEL_Z       ROT  RACE
6947291  Player 829   8.910214 -22.56707  106.7241  299.5029  158.4230   593
6947292  Player 829   8.882927 -22.92138  108.1331  295.8500  159.1173   593
6947293  Player 829   9.013964 -23.50863  109.3851  292.5923  159.0395   593
6947294  Player 829   9.242352 -24.11432  110.8479  288.7761  159.0279   593
6947295  Player 829  10.789530 -23.22510  112.8779  284.0283  153.6912   593

In [16]:
train,val,test=split_train_validation_test(df_gara,["Player","RACE"])

In [17]:
train.head()

       Player    DIFF_X    DIFF_Z  DIFF_VEL_X  DIFF_VEL_Z  DIFF_ROT  RACE
0  Player 100  0.000000  0.000000     0.00000    0.000000  0.000000   336
1  Player 100 -0.481345  1.326961     0.04200    1.016970  0.962820   336
2  Player 100  0.621798  3.344998     0.12097    1.436890  2.665345   336
3  Player 100 -0.069893  2.317062     0.14075    1.773194  0.253747   336
4  Player 100  0.308528  1.094441     0.09851    1.376709 -0.116700   336

In [4]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns",50)

In [2]:
def rewrite_file_in_order(path,newFile):
    write=open(newFile,'a')
    with open(path) as f:
        lines=f.readlines()
        for line in lines:
            #remove \n
            line = line[:len(line)-3]
            if(len(line)<10):
                return 
            #split along || wich indicate a new car
            cars=line.split(';')
            
            line_info=[cars[:6],cars[6:12],cars[12:18],cars[18:]]    
                   
            line_info.sort(key=lambda x: x[0] if x[0][0]!='_' else x[0][2:])
            string_line=np.reshape(line_info,(len(line_info)*len(line_info[0])))
            string = ";".join(string_line)
            string +='\n'
            write.write(string)
            
            
rewrite_file_in_order(r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\physics_united.txt",r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\physics_ordered.txt")

In [2]:
newLines=[]
with open(r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\one_car_united.txt") as f:
    lines=f.readlines()
    for line in lines:
        line=line.replace(";\n","\n")
        newLines.append(line)
        
with open(r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\one_car_physics_united.txt",'w') as f:
    f.writelines(newLines)

In [5]:
df_gara=pd.read_csv(r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\one_car_physics_united.txt", sep=";", header=None , decimal=',')

In [6]:
df_gara.head()

            0         1          2         3          4
0  Player 487 -0.088296   6.601545 -0.180633  13.780520
1  Player 487 -0.111485   8.554213  0.006787  10.958810
2  Player 487 -0.134562   9.900063 -0.124252  14.631180
3  Player 487 -0.149242  11.157790 -0.074372  10.979130
4  Player 487 -0.171346  12.240610 -0.186261   9.522438

In [17]:
list(dt_train.unbatch().take(1).as_numpy_iterator())

[(array([[ 1.508079e+00, -7.258960e+01, -1.399719e+01,  3.953384e-01,
           0.000000e+00],
         [ 4.557356e+00, -7.247339e+01, -1.317859e+01,  4.307917e+00,
           0.000000e+00],
         [ 5.492737e+00, -7.220313e+01, -1.247754e+01,  1.140398e+01,
           3.317097e-01],
         [ 6.321143e+00, -7.204858e+01, -1.187610e+01,  1.232214e+01,
           2.818213e-01],
         [ 6.994567e+00, -7.196423e+01, -1.133276e+01,  1.102882e+01,
          -2.664133e-01],
         [ 7.739259e+00, -7.195544e+01, -1.088232e+01,  7.975758e+00,
          -1.970922e-01],
         [ 7.954103e+00, -7.195032e+01, -1.056738e+01,  6.411705e+00,
          -1.514083e-01],
         [ 8.754027e+00, -7.193433e+01, -9.894287e+00,  4.315331e+00,
          -5.571425e-02],
         [ 9.229468e+00, -7.192163e+01, -9.348877e+00,  3.213606e+00,
           3.672605e-01],
         [ 9.910231e+00, -7.192236e+01, -8.771606e+00,  2.033646e+00,
           1.390821e+00],
         [ 1.031131e+01, -7.190857e+01, -8.363281e+00,  1.956259e+00,
           1.031256e+00],
         [ 1.094080e+01, -7.187207e+01, -7.508301e+00,  2.198353e+00,
           1.396734e+00],
         [ 1.160882e+01, -7.184277e+01, -6.825684e+00,  2.365555e+00,
           1.387879e+00],
         [ 1.264034e+01, -7.179712e+01, -5.601318e+00,  2.258963e+00,
           2.150722e+00],
         [ 1.283427e+01, -7.177075e+01, -5.091309e+00,  2.565268e+00,
           2.835557e+00],
         [ 1.325085e+01, -7.173547e+01, -4.307617e+00,  2.722417e+00,
           4.052608e+00],
         [ 1.332652e+01, -7.171143e+01, -3.775879e+00,  2.780902e+00,
           4.399989e+00],
         [ 1.409281e+01, -7.164587e+01, -2.400757e+00,  2.808794e+00,
           5.318573e+00],
         [ 1.427730e+01, -7.160889e+01, -1.541992e+00,  2.589984e+00,
           6.404113e+00],
         [ 1.420264e+01, -7.159583e+01, -6.867676e-01,  1.542123e+00,
           7.529244e+00]], dtype=float32),
  array([ 14.1799   , -71.59998  ,   0.1623535,   0.448885 ,   8.832282 ],
        dtype=float32))]

In [4]:
df_gara["RACE"]=0
idx_gara=df_gara[df_gara[0].str.startswith("_")].index
df_gara.loc[idx_gara,"RACE"]=1
df_gara.RACE=df_gara.RACE.cumsum()

In [5]:
df_gara["LENGTH"]=df_gara.groupby("RACE")[0].transform("count")

In [6]:
df_gara.head()

            0         1          2         3          4   5  RACE  LENGTH
0  Player 487 -0.088296   6.601545 -0.180633  13.780520 NaN     0    6821
1  Player 487 -0.111485   8.554213  0.006787  10.958810 NaN     0    6821
2  Player 487 -0.134562   9.900063 -0.124252  14.631180 NaN     0    6821
3  Player 487 -0.149242  11.157790 -0.074372  10.979130 NaN     0    6821
4  Player 487 -0.171346  12.240610 -0.186261   9.522438 NaN     0    6821

In [5]:
SEQUENCE_LENGTH=20

df_races=df_gara.query(f"LENGTH > {0.2*SEQUENCE_LENGTH}").reset_index(drop=True)

In [8]:
df_races.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,RACE,LENGTH
1738773,Player 410,9.377191,-22.92599,108.7461,289.7307,157.7518,Player 690,24.51217,-3.509907,75.32886,344.9910,99.2709,Player 762,22.73088,13.902340,54.49707,341.1265,59.61815,Player 829,8.910214,-22.56707,106.7241,299.5029,158.4230,154,161
1738774,Player 410,9.621718,-22.88470,110.2417,286.0320,158.0400,Player 690,22.93030,-7.839663,79.11865,344.0361,109.8427,Player 762,24.08987,9.900708,58.26062,343.0004,68.84837,Player 829,8.882927,-22.92138,108.1331,295.8500,159.1173,154,161
1738775,Player 410,10.062810,-22.65654,111.6350,282.8684,155.4860,Player 690,20.92262,-11.337450,82.17468,342.6550,119.2799,Player 762,24.82897,5.934494,61.69873,344.0719,77.91775,Player 829,9.013964,-23.50863,109.3851,292.5923,159.0395,154,161
1738776,Player 410,10.589000,-23.14358,113.2971,279.2012,155.2760,Player 690,17.97123,-14.873560,85.26538,340.5154,130.2807,Player 762,24.92075,1.286589,65.69067,344.6028,88.25747,Player 829,9.242352,-24.11432,110.8479,288.7761,159.0279,154,161
1738777,Player 410,10.724210,-23.85396,115.4548,274.4961,155.4000,Player 690,14.31496,-17.966230,88.46875,337.1849,141.7058,Player 762,23.88444,-4.379083,70.58154,344.2327,101.36860,Player 829,10.789530,-23.22510,112.8779,284.0283,153.6912,154,161

In [6]:
df_races=df_races.drop([0,6,12,18],axis=1)
names=np.array(range(20))
names=np.append(names,["RACE","LENGTH"])
df_races.columns=names

df_races.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,RACE,LENGTH
1738789,9.377191,-22.92599,108.7461,289.7307,157.7518,24.51217,-3.509907,75.32886,344.9910,99.2709,22.73088,13.902340,54.49707,341.1265,59.61815,8.910214,-22.56707,106.7241,299.5029,158.4230,154,161
1738790,9.621718,-22.88470,110.2417,286.0320,158.0400,22.93030,-7.839663,79.11865,344.0361,109.8427,24.08987,9.900708,58.26062,343.0004,68.84837,8.882927,-22.92138,108.1331,295.8500,159.1173,154,161
1738791,10.062810,-22.65654,111.6350,282.8684,155.4860,20.92262,-11.337450,82.17468,342.6550,119.2799,24.82897,5.934494,61.69873,344.0719,77.91775,9.013964,-23.50863,109.3851,292.5923,159.0395,154,161
1738792,10.589000,-23.14358,113.2971,279.2012,155.2760,17.97123,-14.873560,85.26538,340.5154,130.2807,24.92075,1.286589,65.69067,344.6028,88.25747,9.242352,-24.11432,110.8479,288.7761,159.0279,154,161
1738793,10.724210,-23.85396,115.4548,274.4961,155.4000,14.31496,-17.966230,88.46875,337.1849,141.7058,23.88444,-4.379083,70.58154,344.2327,101.36860,10.789530,-23.22510,112.8779,284.0283,153.6912,154,161

In [10]:
df_races.loc[:,:23].tail()

,1,2,3,4,5,7,8,9,10,11,13,14,15,16,17,19,20,21,22,23
1738773,9.377191,-22.92599,108.7461,289.7307,157.7518,24.51217,-3.509907,75.32886,344.9910,99.2709,22.73088,13.902340,54.49707,341.1265,59.61815,8.910214,-22.56707,106.7241,299.5029,158.4230
1738774,9.621718,-22.88470,110.2417,286.0320,158.0400,22.93030,-7.839663,79.11865,344.0361,109.8427,24.08987,9.900708,58.26062,343.0004,68.84837,8.882927,-22.92138,108.1331,295.8500,159.1173
1738775,10.062810,-22.65654,111.6350,282.8684,155.4860,20.92262,-11.337450,82.17468,342.6550,119.2799,24.82897,5.934494,61.69873,344.0719,77.91775,9.013964,-23.50863,109.3851,292.5923,159.0395
1738776,10.589000,-23.14358,113.2971,279.2012,155.2760,17.97123,-14.873560,85.26538,340.5154,130.2807,24.92075,1.286589,65.69067,344.6028,88.25747,9.242352,-24.11432,110.8479,288.7761,159.0279
1738777,10.724210,-23.85396,115.4548,274.4961,155.4000,14.31496,-17.966230,88.46875,337.1849,141.7058,23.88444,-4.379083,70.58154,344.2327,101.36860,10.789530,-23.22510,112.8779,284.0283,153.6912

In [7]:
import tensorflow as tf
ONLY_ONE_CAR=False

def multiple_timeseries(single_race):
    if(ONLY_ONE_CAR==False):
        return timeseries(single_race)
    
    train,val,test=0
    for index in range(CARS):  
        start=str(index*FEATURES)
        end=str((index+1)*(FEATURES-1))
        toAdd_tr,toAdd_val,toAdd_test = timeseries(single_race.loc[:,start:end])
        if(train==0):
            train=toAdd_tr
            val=toAdd_val
            test=toAdd_test
        else:
            train.concatenate(toAdd_tr)
            val.concatenate(toAdd_val)
            test.concatenate(toAdd_test)
    return train,val,test


def timeseries(infos):
    
    size_datasets=[int(0.6*len(infos)),
                   int(0.8*len(infos)),
                   len(infos)]
    infos=infos.values
    dataset=[0,0,0]
    for index in range(len(size_datasets)):
        if(index >0):
            splitted_infos=infos[size_datasets[index-1]:size_datasets[index]]
        else:
            splitted_infos=infos[0:size_datasets[index]]
        #The model uses the last sample_lenght datas to predict the next one
        input_data = splitted_infos[:-1]
        targets = splitted_infos[SEQUENCE_LENGTH:]
        #print(len(input_data))
        dataset[index]=tf.keras.utils.timeseries_dataset_from_array(input_data,targets,
                                                                    sequence_length=SEQUENCE_LENGTH,
                                                                    batch_size=256)
    
        for batch in dataset[index]:
            inputs, targets = batch
            assert np.array_equal(inputs[0], tf.constant(splitted_infos[:SEQUENCE_LENGTH]))  # First sequence: steps [0-4]
            # Corresponding target: step 5
            assert np.array_equal(targets[0],  tf.constant(splitted_infos[SEQUENCE_LENGTH]))
            #print(tf.shape(inputs),tf.shape(targets))
            break

        
    return dataset[0],dataset[1],dataset[2]

In [8]:
tot_races=df_races.RACE.unique()
train=0
val=0
test=0
for i in (tot_races):
    single_race=df_races.query(f"RACE == {i}")
    toAdd_tr,toAdd_val,toAdd_test,_= multiple_timeseries(,single_race.loc[:,:"19"])
    if(i==0):
        train=toAdd_tr
        val=toAdd_val
        test=toAdd_test
    else:
        train.concatenate(toAdd_tr)
        val.concatenate(toAdd_val)
        test.concatenate(toAdd_test)

Traceback (most recent call last):
  File "_pydevd_bundle/pydevd_cython.pyx", line 1078, in _pydevd_bundle.pydevd_cython.PyDBFrame.trace_dispatch
  File "_pydevd_bundle/pydevd_cython.pyx", line 297, in _pydevd_bundle.pydevd_cython.PyDBFrame.do_wait_suspend
  File "D:\Anaconda\envs\tf\lib\site-packages\debugpy\_vendored\pydevd\pydevd.py", line 1976, in do_wait_suspend
    keep_suspended = self._do_wait_suspend(thread, frame, event, arg, suspend_type, from_this_thread, frames_tracker)
  File "D:\Anaconda\envs\tf\lib\site-packages\debugpy\_vendored\pydevd\pydevd.py", line 2011, in _do_wait_suspend
    time.sleep(0.01)
KeyboardInterrupt

KeyboardInterrupt:

In [26]:
lst_df=[]
for i in range(0,24,6):
    new_arr=df_gara.loc[:,i:i+5].values
    lst_df.extend(new_arr)

In [28]:
df_gara_stacked=pd.DataFrame(lst_df, columns=["Player","X","Z","VEL_X","VEL_Z","ROT"])

In [5]:
na_indexes=df_gara_stacked.loc[pd.isna(df_gara_stacked["ROT"]),:].index
df_gara_stacked.loc[na_indexes,:]

            Player    X          Z     VEL_X     VEL_Z  ROT  RACE
164721  Player 381  0.0  10.723790 -64.90002  7.569458  NaN     7
694462  Player 235  0.0   6.673308 -64.90002  4.701660  NaN    60

In [34]:
df_gara_stacked.head(20)

        Player         X          Z     VEL_X      VEL_Z        ROT
0   Player 188  0.372565   1.508079 -72.58960 -13.997190   0.395338
1   Player 188  1.346142   4.557356 -72.47339 -13.178590   4.307917
2   Player 188  2.116589   5.492737 -72.20313 -12.477540  11.403980
3   Player 188  1.139073   6.321143 -72.04858 -11.876100  12.322140
4   Player 188  0.675480   6.994567 -71.96423 -11.332760  11.028820
5   Player 188 -0.165650   7.739259 -71.95544 -10.882320   7.975758
6   Player 188  0.236846   7.954103 -71.95032 -10.567380   6.411705
7   Player 188  0.195727   8.754027 -71.93433  -9.894287   4.315331
8   Player 188 -0.053059   9.229468 -71.92163  -9.348877   3.213606
9   Player 188  0.354500   9.910231 -71.92236  -8.771606   2.033646
10  Player 188  0.348628  10.311310 -71.90857  -8.363281   1.956259
11  Player 188  0.503346  10.940800 -71.87207  -7.508301   2.198353
12  Player 188  0.485674  11.608820 -71.84277  -6.825684   2.365555
13  Player 188  0.520232  12.640340 -71.79712  -5.601318   2.258963
14  Player 188  0.618059  12.834270 -71.77075  -5.091309   2.565268
15  Player 188  0.589618  13.250850 -71.73547  -4.307617   2.722417
16  Player 188  0.608219  13.326520 -71.71143  -3.775879   2.780902
17  Player 188  0.682465  14.092810 -71.64587  -2.400757   2.808794
18  Player 188  0.457043  14.277300 -71.60889  -1.541992   2.589984
19  Player 188  0.062389  14.202640 -71.59583  -0.686768   1.542123

In [6]:
files=96
baseFileName=r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\Physic\Physic"
toWrite=r"C:\Users\dansp\OneDrive\Desktop\Tesi\Logs\OneCar_Pos_Vel_Rot.txt"

def Name(base,i):
    final=base
    if(i>0):
        final +=" - Copia"
    if(i>1):
        final +=f" ({i})"
    final+=".txt"
    return final

def ReadAndWrite(read,write):
    with open(read) as f:
        lines=f.readlines()
        f.close()
    
    with open(write,'a') as f1:
        f1.writelines(['_',lines])
        f1.close()

for i in range(files):
    file=Name(baseFileName,i)
    ReadAndWrite(file,toWrite)

In [7]:
import pandas as pd
import numpy as np
import tensorflow as tf


SEQUENCE_LENGTH=20
ONLY_ONE_CAR=True
CARS=4
FEATURES=5
DIFF_ROT=True


def batch_generator(df):
    
    #crea un nuovo dataframe con sequence_length elementi per un numero di volte pari al batch
    dropped_df=df.drop("RACE",axis=1).reset_index(drop=True)
    for i in range(len(dropped_df)-SEQUENCE_LENGTH):
        inputs=np.array(dropped_df.loc[i:SEQUENCE_LENGTH-1+i,:].values)
        targets=dropped_df.loc[SEQUENCE_LENGTH+i,:].values
        yield inputs,targets
        
    
def single_care_dataframe(path):
    df_gara=pd.read_csv(path, sep=";", header=None , decimal=',')
    #create new column called race
    df_gara["RACE"]=0
    # fill race column based on the cumulative sum of rows starting with '_'
    #idx_gara stores each row wich starts with '_'
    idx_gara=(df_gara[df_gara["Player"].str.startswith("_")].index)
    df_gara.loc[idx_gara,"Player"]=df_gara.loc[idx_gara,"Player"].str.replace("_","")#replace name without the _

    df_gara.loc[idx_gara,"RACE"]=1
    df_gara.RACE=df_gara.RACE.cumsum()
    #Create new column Length wich specifiens the total length of a race
    df_gara["LENGTH"]=df_gara.groupby("RACE")[0].transform("count")
    #if race is lewer then a minimum then it is discarded
    df_races=df_gara.query(f"LENGTH > {SEQUENCE_LENGTH/0.25}").reset_index(drop=True)
    df_races.drop(["Player","LENGTH"],axis=1,inplace=True)
    
    return df_races

def subtraction_columns(df):
    df_copy=df.shift(1,fill_value=0)
    cols = df.columns.difference('RACE')
    df[cols] = df[cols].sub(df_copy[cols])
    
    df.iloc[0,:-1]=0
    return df

def get_split(x,first,second):
    first =int(x.shape[0]*first)
    second = int(x.shape[0]*second)
    
    if DIFF_ROT:
        #df_gara_stacked["ROT1"]= df_gara_stacked.ROT.shift(1,fill_value=0)
        #df_gara_stacked["DIFF_ROT"]=(df_gara_stacked["ROT1"]-df_gara_stacked["ROT"] + 180)%360-180
        x=subtraction_columns(x)
        x["ROT"]=(x["ROT"]+180)%360-180
        #(a + 180) % 360 - 180
    else:
        x.drop("ROT",axis=1,inplace=True)
    
    
    return x[first:second]
    
def split_train_validation_test(df,group_col,train_split=0.5,val_split=0.25,test_split=0.25):
    val_split +=train_split
    
    if val_split >1:
        raise ValueError(
            f"Train + Validation split cannot be higher tan 1 given {val_split}"
        )
     
    #group by race (and player name for single car) and create a new array containing foreach race a dataset
    df_train= df.groupby(group_col,group_keys=False).apply(get_split, first = 0, second= train_split)
    df_val= df.groupby(group_col,group_keys=False).apply(get_split, first = train_split, second= val_split)
    df_test= df.groupby(group_col,group_keys=False).apply(get_split, first = val_split, second= 1)
    
    
    #since each race was plittend into train,val and test the result of previous operation is an array containing the data 
    #foreach race, therefore to have the end dataframe we must concatenate each element
    df_train=recreate_dataframe(df_train)
    df_val=recreate_dataframe(df_val)
    df_test=recreate_dataframe(df_test)
    
    return df_train, df_val,df_test

def recreate_dataframe(series):
    if DIFF_ROT:
        columns=["DIFF_VEL_X","DIFF_VEL_Z","DIFF_X","DIFF_Z","DIFF_ROT","RACE"]
    else:
        columns=["VEL_X","VEL_Z","X","Z","RACE"]  
    series.columns=columns
    df=series.reset_index(drop=True)
    #v#alues=series.values
    #df=pd.DataFrame(values[0],columns=columns)
    #
#
    #for serie in values[1:]:
    #    df= pd.concat([df, pd.DataFrame(serie,columns=columns)],ignore_index=True)
    return df

def Generator(df):
    grouped=df.groupby("RACE").apply(batch_generator)
    for group in grouped:
        for single in group:
            yield single
            
class DataGenerator(tf.keras.utils.Sequence):
    def __init__(self,batch_size,df,max_batch):
        self.batch_size=batch_size
        self.df=df
        self.df_length=len(df.index)-(df["RACE"].nunique()*SEQUENCE_LENGTH*CARS)
        self.max_batch=max_batch            
        print(f'Length: {len(df.index)} races: {df["RACE"].nunique()} n batches: {self.df_length} / {batch_size}')
        self.on_epoch_end()
        #self.generator=generator_function(sequence_length,path,totFiles)
        
    def __getitem__(self,index):
        X=[]
        Y=[]
        for i in range(self.batch_size):
            #while True:
            #    x,y=next(self.generator)
            #    x_shape=np.shape(x)
            #    if x_shape[0]==x_shape[1]:
            #        break
            x,y=next(self.generator)
            X.append(x)
            Y.append(y)
            
        #print(np.shape(X))    
        tensor_x=tf.constant(X)
        tensor_y=tf.constant(Y)
        return tensor_x,tensor_y
    
    def __len__(self):
        value=int(self.df_length/self.batch_size)-1
        if value>self.max_batch:
            value=self.max_batch
        return value
    
    def on_epoch_end(self):
        self.generator=Generator(self.df)